<?xml version="1.0" encoding="utf-8" ?>
<rss>
  <age>1</age> <!-- Days -->
  <feeds>
    <feed>http://feeds.feedburner.com/HanselminutesCompleteMP3</feed>
    <feed>http://feeds.feedburner.com/deepfriedbytes</feed>
    <feed>http://feeds.feedburner.com/netRocksFullMp3Downloads</feed>
    <feed>http://feeds.feedburner.com/herdingcode</feed>
    <feed>http://blog.stackoverflow.com/feed/</feed>
    <feed>http://feeds2.feedburner.com/PolymorphicPodcastFastFeed</feed>
    <!--<feed>http://www.scalabledevelopment.com/ftp/ScalabilityWithDotNet.xml</feed>-->
  </feeds>
  <formats>
    <format>audio/mpeg</format>
    <format>audio/mp3</format>
  </formats>
</rss>
